/* topnav */

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar {
    margin-bottom: 0;
    border: 0;
}

/* Home styles */

.widget-home {
    background-color: #3498db;
    height: 500px;
    padding: 50px 0;
}

    .widget-home h1 {
        color: #fff;
        text-shadow: none;
        font-size: 20px;
    }

    .widget-home a span {
        color: #3498db;
        font-size: 20px;
    }

.btn {
    border-radius: 0;
}