# Ignore Node & Bower
###################
node_modules
/build
bower_components
**/test/coverage

# Ignore Web Storm #
.idea

# Packages #
############
*.zip

# Logs and databases #
######################
*.log
*.sql