$gb-text-color: #555555;

$topnav-bg-color: #fff;
$topnav-border-color: #fff;
$topnav-text-color: #555555;

$widget-home-bg-color: #ecf0f1;

$footer-bg-color: #ecf0f1;
$footer-text-color: #555555;

$cp-text-color: #959595;